<div class="card mb-3 animated fadeIn fast" style="max-width: 100%; ">
    <div class="row g-0">
      <div class="col-md-4 animated fadeIn">
        <img width="100%" src="https://i.pinimg.com/736x/8a/1a/a2/8a1aa2036bb1cf40e1ffe0227a9b8bb8.jpg" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">Sobre esta App</h2>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
         <br>
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum consequuntur est dolor deserunt nobis omnis repellendus at explicabo quasi, rerum tenetur, accusamus libero rem amet expedita maxime distinctio numquam atque?

          </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
